body{
	background-color:#ffe6e;
	margin:0;
}
a:active,
a:visited{
	text-decoration:none;
	color:white;
	font-weight:bold;
}
/* Navigation Bar/ Header */
nav{
	padding:0.2% 2% 0.2% 2%;
	border-bottom:2px solid gold;
	background-color:#6E260E;
	background-image:url('footer.jpg');
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:100%;
	text-align:center;
	/*border-bottom:2px solid #228B22;*/
}
h1{
	font-size:30px;
	color:white;
	margin:10px;
}
/* Main section for homepage */
.main{
	background-image:url('library.jpg');
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:100%;
	padding:10%;
}
main,
footer,
.p,
nav{
	margin:0;
}
#hero-sec{
	background-color:rgba(110,38,14,0.9);
	width:80%;
	margin:auto;
	padding:2%;
	border:1px solid gold;
	color:white;
	font-size:18px;
}
.img{
	width:28%;
	margin:0.5% 5% 0.5% 1%;
	border-radius:5px;
	border:1px solid gold;
}
h2{
	font-size:28px;
}
button, .button{
	padding:1% 4%;
	background-color:forestgreen;
	border-radius:5px;
	border:1px solid gold;
	color:white;
	font-weight:bold;
	margin:5% auto 1% auto;
	font-size:20px;
}
button:hover,
.button:hover{
	background-color:#355E3B;
}
/* Main section for registration page */
.registration{
	background-color:#4A0404;
	padding:5% 15%;
	color:white;
	font-size:18px;
}
.h2{
	color:gold;
	text-align:center;
}
input, select{
	padding:5px 10px;
}
#theme{
	padding:0%;
}
.button{
	margin:5% 2% 1% 2%;
}
/* main section for preferences */
.personalization{
	background-image:url('book&flower.jpg');
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:100%;
	padding:10%;
}
.heading{
	color:#4A0404;
	text-align:center;
}
.preferences{
	background-color:rgba(255,255,255,0.85);
	width:78%;
	padding:3% 5%;
	margin:auto;
	border:2px solid gold;
}
.skip{
	background-color:#0047ab;
	margin:0% 2% 0 2%;
}
.skip:hover{
	background-color:#00008b;
}
/* main section for recommended books page */
.background{
	background-image:url('background.jpg');
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:100%;
	padding:5% 2%;
}
.genre{
	display:flex;
	justify-content:space-evenly;
	
}
.container{
	background-color:rgba(211,211,211,0.85);
	padding:10px;
	border-radius:8px;
	border:2px solid gold;
	width:25%;
	text-align:center;
}
.novel{
	height:220px;
	margin:auto;
	border:1px solid black;
}
.more{
	padding:10px;
	background-color:#0047ab;
	border-radius:5px;
	border:1px solid gold;
	color:white;
	font-weight:bold;
	margin:1% auto 1% auto;
	font-size:15px;
}
.more:hover{
	background-color:#00008b;
}
.g1{
	background-color:white;
	border-radius:20px;
	text-align:center;
	width:30%;
	margin:2% auto;
	border:1px solid gold;
}
.g2{
	background-color:forestgreen;
	border-radius:20px;
	padding:1%;
	border:1px solid gold;
	text-align:center;
	width:30%;
	margin:2% auto;
}
/* Footer */
footer{
	background-image:url('https://t4.ftcdn.net/jpg/10/79/13/15/360_F_1079131541_KaC6DDTqqqredfQdxtJK0hAmMGxTOGYk.jpg');
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:100%;
	color:white;
	padding:1%;
	text-align:center;
	border-top:2px solid gold;
}
.flex{
	margin:auto;
	width:12%;
	display:flex;
	justify-content:spacea-round;
}
.icon{
	padding:10px;
	margin:0 5px;
	background-color:grey;
	border-radius:50%;
	color:black;
	text-decoration:none;
	font-size:20px;
}